<div>
    <form action="/login" method="POST">
        <div>
            <label><input type="text" name="user" placeholder="Username" /></label>
        </div>
        <div>
            <label> <input type="password" name="password" placeholder="Password" />
                {{#if errorMessage}}
                <p class="error">{{errorMessage}}</p>
                {{/if}}</label>
        </div>
</div>